@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-accent-red: var(--accent-red);
  --color-paper-yellow: var(--paper-yellow);
  --color-text-main: var(--text-main);

  --font-display: var(--font-special-elite);
  --font-sans: var(--font-inter);
  --font-hand: var(--font-permanent-marker);
}

:root {
  --background: #0e0e0e;
  --accent-red: #8b0000;
  --paper-yellow: #f4e4bc;
  --text-main: #EDEDED;
}

body {
  background: var(--background);
  color: var(--text-main);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-display);
}

